<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>Forum 01</title>
    <script src="../js/comment.js"></script>
    <script src="../js/handler.js"></script>

</head>

<body>

    <!-- ======================HEADER========================== -->
    <script src="../js/comment.js"></script>

</body>

</html>

</html>